################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

*.suo
/EpgTimer/EpgTimer/obj/
/x64/Debug
/x86/Debug
*.user
